body{
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    padding-top: 70px;
}
.container > .row > div{
    padding-left: 40px;
}
iframe{
    height: 100%;
    width: 100%;
}
.home-title{
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color:#16566a;
    font-weight: bold;
}
.navbar-default {
    background-color: #5bc0de;
}
.navbar-default .navbar-header > a,
.navbar-default .navbar-nav > li > a {
  color:white;
}
.navbar-default .navbar-header > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #16566a;
}
#chat-box{
    height:500px;
    width: 100%;
}
#live-chat-toggle{
    position: absolute;
    left: 290px;
}
#introduction{
    margin-top: 40px; 
    margin-left: 20px; 
    margin-right: 30px; 
    
}
#introduction p{
    margin-top: 20px; 
    padding-bottom: 20px; 
    font-size: 20px;
}
#introduction legend{
    color: #16566a;
    font-family: sans-serif;
    /* font-weight: bold; */
    font-size: 24px;
}

.transparent{
  background:rgba(255,255,255,0.5);
}

.right-part{
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 450px;
}
